<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1>Dashboard</h1>
    <form action="/chat">
        <div class="form-control">
            <label for="room">Room</label>
            <input id="room" name="room" autocomplete="off" />
        </div>
        <button type="submit">Join Chat</button>
    </form>
    <a href="/api/user/profile/<%=curUsername%>">
        <button>Profile</button>
    </a>
    <hr>
    <div>
        <% for(user of users){ if(user.username !==curUsername){ %>
            <div>
                <span>
                    <%= user.username %>
                </span>
                <a href="/chat?room=<%= user.username %>--with--<%= curUsername %>">
                    <button>Chat</button>
                </a>
            </div>
            <% }} %>
    </div>
</body>