<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1>Dashboard</h1>
    <form action="/chat">
        <button type="submit">Join Chat</button>
    </form>
    <a href="/api/user/profile/<%=curUsername%>">
        <button>Profile</button>
    </a>
    <hr>
    <div>
        <% for(user of users){
            if(curUsername !== user.username){
            %>
            <div>
                <form method="post" action="/chat">
                    <label><%= user.username %></label>
                    <input type="hidden" name="room" value="<%= user.username %>--with--<%= curUsername %>"/>
                    <button type="submit">Chat</button>
                </form>
            </div>
            <% }} %>
    </div>
</body>